{% extends "base.html" %}

{% block title %}
    <title>Product List</title>
{% endblock title %}

{% block content %}
    <form class="navbar-form navbar-right" action="." method="get">
        <!-- add -->
        <a href="{% url 'product_add' %}">
            <button id="new_sale" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Adicionar
            </button>
        </a>
        <!-- search form -->
        <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
    </form>

    <h1>Lista de {{ name_plural.capitalize }} <font size="3">(NCM fictício)</font></h1>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Importado</th>
                    <th class="text-center">NCM</th>
                    <th>Produto</th>
                    <th>Marca</th>
					<th class="text-right">Custo</th>
					<th class="text-right">IPI</th>
					<th class="text-center">Estoque atual</th>
					<th class="text-center">Estoque Min.</th>
                </tr>
            </thead>
            <tbody>
            {% for product in object_list %}
				{% if product.stoq < product.stoq_min %}
					<tr class="danger">
				{% else %}
					<tr>
				{% endif %}
						<td class="text-center">
							{% if product.imported %}
								<span class="glyphicon glyphicon-ok-sign" style="color: #44AD41"></span>
							{% else %}
								<span class="glyphicon glyphicon-minus-sign" style="color: #DE2121"></span>
							{% endif %}
						</td>
						<td class="text-center">{{ product.ncm }}</td>
	                    <td>{{ product.product }}</td>
                        <td>{{ product.brand }}</td>
	                    <td class="text-right">{{ product.get_cost }}</td>
						
                        {% if product.get_ipi == "0" %}
                            <td class="text-right">---</td>
                        {% else %}
                            <td class="text-right">{{ product.get_ipi }}%</td>
                        {% endif %}

						<td class="text-center">{{ product.stock }}</td>
						<td class="text-center">{{ product.stock_min }}</td>
					</tr>
            {% empty %}
                <p>Sem itens na lista.</p>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>
    <div>
        <h3><b>Total:</b> {{ count }}
            {% if count <= 1 %}
                {{ name }}
            {% else %}
                {{ name_plural }}
            {% endif %}
        </h3>
    </div>

<!-- pagination -->
{% include "pagination.html" %}

{% endblock content %}