{% extends 'base.html' %}

{% block content %}

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-social-icon" href="https://twitter.com/rg3915"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon" href="https://github.com/rg3915/django-example"><i class="fa fa-github fa-fw"></i></a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon" href="https://plus.google.com/+R%C3%A9gisSilvaSantos/posts"><i class="fa fa-google-plus fa-fw"></i></a>
                    </li>
                </ul>
            </div>
    </section>

{% endblock %}